[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=root
Restart=on-failure

#Change this line if you download the 
#Prometheus on different path user
ExecStart=/home/prometheus/prometheus/prometheus \
    --config.file /home/prometheus/prometheus/prometheus.yml \
    --storage.tsdb.path /home/prometheus/prometheus/ \
    --web.console.templates=/home/prometheus/prometheus/consoles \
    --web.console.libraries=/home/prometheus/prometheus/console_libraries \
    --web.enable-admin-api 

[Install]
WantedBy=multi-user.target
